section {
  &.about-me {
    height: 100vh;
    background-color: transparent;
    scroll-snap-align: center;

    .container {
      height: 100%;
      width: 100%;

      & > div:not(.button-container) {
        position: relative;
        width: 100%;
        height: 90%;

        & > .mark {
          width: 100%;
          animation: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0 100px;

          .mark-inner {
            background-color: #f5c1bf;
            width: 100%;
            height: 450px;
          }
        }
      }
    }

    .text-content {
      position: absolute;
      height: 225px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      text-align: right;

      h3 {
        width: 90%;
        display: inline-block;
        text-align: left;
        margin-bottom: 80px;
        position: relative;
        z-index: 100;

        &::after {
          content: "";
          position: absolute;
          width: 36px;
          height: 70px;
          background-image: url(../assets/arrow.svg);
          background-size: cover;
          background-position: center;
          left: 110px;
          top: 0;
        }

        span {
          position: absolute;
          bottom: -25px;
          left: 55px;
        }

        .mark {
          z-index: -1;
          left: 70px;
          top: 10px;

          .mark-inner {
            background-color: #efecbb;
            width: 60px;
            height: 60px;
          }
        }
      }

      p {
        display: none;
        height: 110px;
        letter-spacing: 1px;
        opacity: 0;
        text-align: left;
        font-size: 2.4rem;
        font-weight: 300;
        width: 500px;
        transition: all 0.4s;

        &.visible {
          display: inline-block;
          opacity: 1;
          animation-name: fadein;
          animation-delay: 0;
          animation-duration: 0.8s;
        }
      }
    }
  }
}
